body{
  background-color: blue;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.chatbot{
  width: 500px;
  min-width: 390px;
  height: 400px;
  background: #fff;
  padding: 25px;
  margin: 20px auto;
  box-shadow: 0 3px #ccc;
}

.chatlog{
  padding: 10px;
  width: 97%;
  height: 375px;
  background: darkgrey;
}

.chat{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.chat .message{
  width: 70%;
  padding: 15px;
  margin: 5px 10px 0;
  background: #1ddced;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
}

#reply{
  position: absolute;
  text-align: center;
  bottom: 150px;
  width: 37%;
}

.hidden{
  display: none;
}

.response{
  position: relative;
  left: 100px;
}
