div{
  text-align: center;
}

#quote{
  text-align: center;
  background-color: #a3c2c2;
  height: 150px;
  width: 500px;
  margin: auto;
  border: 10px solid black;
  padding: 40px 10px;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4{
  font-size: 20px;
}

a{
  font-size: 20px;
}

#button{
  border-radius: 50%;
  font-size: 20px;
  padding: 14px 40px;
  border: 6px solid black;

}

#button:hover {
    background-color: #a3c2c2;
    color: white;

}

#button:active{
  background-color: black;
}
